<div>
    <div>
        <h2>Login</h2>
        <form action="submit" id="login-form">
        <div>
            <label for="username-login">Username: </label>
            <input type="text" id="username-login" />
        </div>
        <div>
            <label for="password-login">Password: </label>
            <input type="text" type="password" id="password-login" />
        </div>
        <div>
            <button type="submit" id="login-button">Login</button>
        </div>
        </form>
        <div>
            <!--NOTE to seldon't add .handlebars to the href or else they will not render. simply requiring the file name is correct-->
            <h3>Don't have an account? No problem. <span><a href='./signup'> Sign up here!</a></span></h3>
        </div>
    </div>


<!--Signup form JS grabbing by id query selector via login.js-->
<!--Now removing signup from login, will make a separate page--> 
<script src="/js/login.js"></script>