<!-- now we need to create a handlebars setting for what we will think of as the post-box, which will handle new posts, their name, and their content-->

<h2>Create Post</h2>
    <form>
        <section>
            <label for="title">Title of post:</label><br>
            <input type="text" id="title">
        </section>
        <section>
            <label for="post-content">Post content:</label><br>
            <textarea name="post-content" id="post-content"></textarea>
        </section>
        <div><button type="submit" id="submit-post-button">Submit post</button></div>
    </form>

<!--Once the skeleton for our post box is constituted we will probably need some logic for the actual posting and button.-->
<!--I don't know what I'm going to call this yet or what I'll name it so for now I'll just put a script tag and come back to it later.-->

<!--TODO: Figure out what script we will need here. -->

<script></script>
